
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[29].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[30].value}}</p>
      <p>{{retornos?.content[31].value}}</p>
      <p>{{retornos?.content[32].value}}</p>
      <p>{{retornos?.content[33].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="https://moodle.unipampa.edu.br/">
        <ion-label>{{retornos?.content[34].value}}</ion-label>
      </ion-item>
      <ion-item  href="http://www.guiadoalunounipampa.com/pdf/manual_aluno_moodle.pdf">
        <ion-label>{{retornos?.content[35].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>

