<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[10].value}}</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[11].value}}</p>
      <p>{{retornos?.content[12].value}}</p>
      <p>{{retornos?.content[13].value}}</p>
      <ion-list  >
        <ion-item href="https://sites.unipampa.edu.br/pda/"><ion-label>{{retornos?.content[14].value}}</ion-label></ion-item>
      </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>
