<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[26].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[27].value}}</p>
      <p>{{retornos?.content[28].value}}</p>
      <ul>
        <li><p>{{retornos?.content[29].value}}</p></li>
      <li><p>{{retornos?.content[30].value}}</p></li>
      <li><p>{{retornos?.content[31].value}}</p></li>
      </ul>
      <p>{{retornos?.content[32].value}}</p>
      <p>{{retornos?.content[33].value}}</p>
      <ion-title>{{retornos?.content[34].value}}</ion-title>
      <p>{{retornos?.content[35].value}}</p>
      <p>{{retornos?.content[36].value}}</p>
      <p><b>{{retornos?.content[37].value}}</b></p>
      <p>{{retornos?.content[38].value}}</p>
      <p>{{retornos?.content[39].value}}</p>
      <p><b>{{retornos?.content[40].value}}</b></p>
      <p>{{retornos?.content[41].value}}</p>
      <p>{{retornos?.content[42].value}}</p>
      <p>{{retornos?.content[43].value}}</p>
      <ion-title>{{retornos?.content[44].value}}</ion-title>
      <p>{{retornos?.content[45].value}}</p>
      <p>{{retornos?.content[46].value}}</p>
      <ul>
        <li><p>{{retornos?.content[47].value}}</p></li>
      <li><p>{{retornos?.content[48].value}}</p></li>
      <li><p>{{retornos?.content[49].value}}</p></li>
      </ul>
      <p>{{retornos?.content[50].value}}</p>
      <p><b>{{retornos?.content[51].value}}</b></p>
      <p>{{retornos?.content[52].value}}</p>
      <p><b>{{retornos?.content[53].value}}</b></p>
      <p>{{retornos?.content[54].value}}</p>
      <p>{{retornos?.content[55].value}}</p>
      <p>{{retornos?.content[56].value}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>