<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[0].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[1].value}}</p>
       
        <!-- <p *ngFor="let strings of (retornos?.content)">
            <ion-label>
              {{strings.value}}
            </ion-label>
          </p> -->
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item [routerDirection]="'forward'" [routerLink]="['/reitoria']"><ion-label>{{retornos?.content[3].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/pro-reitorias']"><ion-label>{{retornos?.content[51].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/campi']"><ion-label>{{retornos?.content[93].value}}</ion-label></ion-item>
         </ion-list>  <p>{{retornos?.content[2].value}}</p>
 
    <ion-list>
      <ion-item [routerDirection]="'forward'"  href="https://sites.unipampa.edu.br/praec/contato-nudes/">
        <ion-label>{{retornos?.content[150].value}}</ion-label></ion-item>
    </ion-list>
      </ion-card-content>
    </ion-card>
    
  </ion-content>