<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[82].value}}</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
<ion-card>
  <ion-card-content>
<ion-title>{{retornos?.content[83].value}}</ion-title>
<p>{{retornos?.content[84].value}}</p>
<ion-title>{{retornos?.content[85].value}}</ion-title>
<p>{{retornos?.content[86].value}}</p>
<ion-title>{{retornos?.content[87].value}}</ion-title>
<p>{{retornos?.content[88].value}}</p>
</ion-card-content>
</ion-card>
  </ion-content>