<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[1].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[2].value}}</p>
       
        <!-- <p *ngFor="let strings of (retornos?.content)">
            <ion-label>
              {{strings.value}}
            </ion-label>
          </p> -->
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item [routerDirection]="'forward'" [routerLink]="['/guri']">{{retornos?.content[3].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/bib-web']">{{retornos?.content[10].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/ouvidoria']">{{retornos?.content[17].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/portal-aluno']">{{retornos?.content[24].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/moodle']">{{retornos?.content[29].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/guia-tel']">{{retornos?.content[36].value}}</ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
  </ion-content>