<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[0].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[1].value}}</p>
        <p>{{retornos?.content[2].value}}</p>
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item [routerDirection]="'forward'" [routerLink]="['/conselho-universitario']">{{retornos?.content[3].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/conselho-curador']">{{retornos?.content[9].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/comissao-superior']">{{retornos?.content[13].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/conselho-bilbiotecas']">{{retornos?.content[19].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/conselho-de-campus']">{{retornos?.content[24].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/comissao-campi']">{{retornos?.content[28].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/comissao-curso']">{{retornos?.content[34].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/diretorios-centros-acad']">{{retornos?.content[37].value}}</ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>