<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[0].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[1].value}}</p>
        <p>{{retornos?.content[2].value}}</p>
       
        <!-- <p *ngFor="let strings of (retornos?.content)">
            <ion-label>
              {{strings.value}}
            </ion-label>
          </p> -->
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item [routerDirection]="'forward'" [routerLink]="['/como-faz']"><ion-label>{{retornos?.content[3].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/consulta-ppc']"><ion-label>{{retornos?.content[15].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/como-achar-site-curso']"><ion-label>{{retornos?.content[18].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/login-institucional']"><ion-label>{{retornos?.content[22].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/criterios-aprovacao']"><ion-label>{{retornos?.content[32].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/links-uteis']"><ion-label>{{retornos?.content[39].value}}</ion-label></ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
    
  </ion-content>