<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[0].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p text-center>{{retornos?.content[1].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
          <ion-button expand="large"   href="mailto:contato@guiadoalunounipampa.com">
            <ion-icon name="mail" large></ion-icon>
          </ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
          <ion-label color="primary">{{retornos?.content[2].value}}</ion-label>
          </div>
        </ion-col>
      </ion-row>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>