<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[0].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[1].value}}</p>
        <p>{{retornos?.content[2].value}}</p>
       
        <!-- <p *ngFor="let strings of (retornos?.content)">
            <ion-label>
              {{strings.value}}
            </ion-label>
          </p> -->
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item [routerDirection]="'forward'" [routerLink]="['/ciencias-sem-fronteiras']"><ion-label>{{retornos?.content[3].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/idiomas-sem-fronteiras']"><ion-label>{{retornos?.content[8].value}}</ion-label></ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/santander-colsas-ibero-americanas']"><ion-label>{{retornos?.content[13].value}}</ion-label></ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/bracol']"><ion-label>{{retornos?.content[17].value}}</ion-label></ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/experiencias-intercambios']"><ion-label>{{retornos?.content[22].value}}</ion-label></ion-item>
    </ion-list>
        <p>{{retornos?.content[24].value}}</p>
        <ion-list>
        <ion-item [routerDirection]="'forward'" [routerLink]="['']"><ion-label>{{retornos?.content[27].value}}</ion-label></ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['']"><ion-label>{{retornos?.content[28].value}}</ion-label></ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
    
  </ion-content>