<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[8].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[9].value}}</p>
      <p>{{retornos?.content[10].value}}</p>
      <p>{{retornos?.content[11].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="http://www.isf-unipampa.org/">
        <ion-label>{{retornos?.content[12].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>