<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[3].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
     <ion-item-divider></ion-item-divider>
     <ion-list>
      <ion-item >
        <p>>{{retornos?.content[4].value}}</p>
      </ion-item>
      <ion-item >
        <p>>{{retornos?.content[5].value}}</p>
      </ion-item>
      <ion-item  >
        <p>>{{retornos?.content[6].value}}</p>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>