<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button ></ion-back-button>
        </ion-buttons>
    <ion-title>Área de Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  color="light">
  <form  [formGroup]="loginForm" *ngIf="loginForm">
    <ion-grid>
      <ion-row color="light" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <ion-card-title>Contate um administrador do sistema para a criação de novos usuários, caso necessário.</ion-card-title>
          </div>
          <div padding>
              <ion-item>
                  <ion-input formControlName="email" type="email" placeholder="Email" required>
                  </ion-input>
              </ion-item>


              <ion-item>
                  <ion-input formControlName="senha" type="password" placeholder="Senha" required>
                  </ion-input>
              </ion-item>  
               
            
          </div>
          <div padding>
            <ion-button  size="large" [disabled]="loginForm.invalid" expand="block" (click)="fazLogin()" >Confirmar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>