<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[52].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(0)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(0)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(0)"></ion-icon>
          {{retornos?.content[53].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(0)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[54].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)32405400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[55].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:prograd@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[56].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/prograd">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[57].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>

        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(1)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(1)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(1)"></ion-icon>
          {{retornos?.content[58].value}}
        </ion-item> 
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(1)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Universidade+Federal+do+Pampa/@-29.7895716,-55.7707858,17z/data=!3m1!4b1!4m5!3m4!1s0x95aab98a8f097415:0xba478dd53e4e9407!8m2!3d-29.7895716!4d-55.7685971">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[59].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>      
          <ion-item href="tel:(55)34218404">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[60].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:proppi@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[61].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/proppi">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[62].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(1)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(2)" detail-none class="item-lista" >
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(2)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(2)"></ion-icon>
          {{retornos?.content[63].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(2)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[64].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>      
          <ion-item href="tel:(53)32405426">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[65].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:proext@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[66].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/proext/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[67].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(2)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(3)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(3)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(3)"></ion-icon>
          {{retornos?.content[68].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(3)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Reitoria+da+UNIPAMPA/@-31.3316138,-54.1091409,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98ec487:0x409bb1b58b6c5fb5!8m2!3d-31.3316138!4d-54.1069522">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço Bagé</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[69].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>         
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+-+Campus+S%C3%A3o+Borja/@-28.6291888,-56.0407177,17z/data=!3m1!4b1!4m5!3m4!1s0x9455c8b2fc7aeead:0xc6a281d8d82a17c5!8m2!3d-28.6291888!4d-56.038529">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço São Borja</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[151].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>      
          <ion-item href="tel:(53)32405403">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone Bagé</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[70].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>    
          <ion-item href="tel:(55)34304339">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone São Borja</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[152].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:praec@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[71].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/praaec/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[72].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(3)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>

        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(4)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(4)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(4)"></ion-icon>
          {{retornos?.content[73].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(4)" lines="none" class="segundo-nivel">                     
          <ion-item href="https://www.google.com.br/maps/place/Fundação+Universidade+Federal+do+Pampa/@-31.331733,-54.1094454,17z/data=!4m13!1m7!3m6!1s0x95067512c87fac5b:0x9a00b52972c8a5db!2sR.+Monsenhor+Constabile+Hipólito,+125+-+Menino+Deus,+Bagé+-+RS!3b1!8m2!3d-31.3317376!4d-54.1072567!3m4!1s0x95067511e35b40f3:0xb6578fa34f448514!8m2!3d-31.3316177!4d-54.1073116">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[74].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>     
          <ion-item href="tel:(53)32405407">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[75].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:proad@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[76].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/proad">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[77].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(4)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(5)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(5)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(5)"></ion-icon>
          {{retornos?.content[78].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(5)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Fundação+Universidade+Federal+do+Pampa/@-31.331733,-54.1094454,17z/data=!4m13!1m7!3m6!1s0x95067512c87fac5b:0x9a00b52972c8a5db!2sR.+Monsenhor+Constabile+Hipólito,+125+-+Menino+Deus,+Bagé+-+RS!3b1!8m2!3d-31.3317376!4d-54.1072567!3m4!1s0x95067511e35b40f3:0xb6578fa34f448514!8m2!3d-31.3316177!4d-54.1073116">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[79].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>    
          <ion-item href="tel:(53)32405405">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[80].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>  
          <ion-item href="mailto:proplan@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[81].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/proplan">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[82].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(5)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(6)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(6)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(6)"></ion-icon>
          {{retornos?.content[83].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(6)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[84].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>    
          <ion-item href="tel:(53)32405403">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[85].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>  
          <ion-item href="mailto:gestaodepessoal@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[86].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/progesp">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[87].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(6)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>
        

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>