<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[61].value}}</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[62].value}}</p>
      <p>{{retornos?.content[63].value}}</p>
      <p>{{retornos?.content[64].value}}</p>
      <ion-title>{{retornos?.content[65].value}}</ion-title>
      <p>{{retornos?.content[66].value}}</p>
      <p><b>{{retornos?.content[67].value}}</b></p>
      <p>{{retornos?.content[68].value}}</p>
      <p><b>{{retornos?.content[69].value}}</b></p>
      <p>{{retornos?.content[70].value}}</p>
      <p><b>{{retornos?.content[71].value}}</b></p>
      <p>{{retornos?.content[72].value}}</p>
      <p><b>{{retornos?.content[73].value}}</b></p>
      <p>{{retornos?.content[74].value}}</p>
      <p><b>{{retornos?.content[75].value}}</b></p>
      <p>{{retornos?.content[76].value}}</p>
      <ion-title>{{retornos?.content[77].value}}</ion-title>
      <p><b>{{retornos?.content[78].value}}</b></p>
      <p>{{retornos?.content[79].value}}</p>
      <p><b>{{retornos?.content[80].value}}</b></p>
      <p>{{retornos?.content[84].value}}</p>
      <p>{{retornos?.content[85].value}}</p>
      <p>{{retornos?.content[86].value}}</p>
      <p>{{retornos?.content[82].value}}</p>
      <ion-title>{{retornos?.content[87].value}}</ion-title>
      <p>{{retornos?.content[88].value}}</p>
      <p>{{retornos?.content[89].value}}</p>
      <ion-title>{{retornos?.content[90].value}}</ion-title>
      <p>{{retornos?.content[91].value}}</p>
      <ion-list  >
        <ion-item href="https://sites.unipampa.edu.br/praec/"><ion-label>{{retornos?.content[83].value}}</ion-label></ion-item>
        <ion-item href="https://sites.unipampa.edu.br/planetario/"><ion-label>{{retornos?.content[93].value}}</ion-label></ion-item>
        <ion-item href="https://sites.unipampa.edu.br/proext/"><ion-label>{{retornos?.content[93].value}}</ion-label></ion-item>
      </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>
