
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[25].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[26].value}}</p>
      <p>{{retornos?.content[27].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="https://aluno.unipampa.edu.br/">
        <ion-label>{{retornos?.content[28].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>

