
  // ion-item{
  //   // margin: 0;
  //   display: block;
  //   overflow: hidden;
  //   // -webkit-box-flex: 1;
  //   // -webkit-flex: 1;
  //   // -ms-flex: 1;
  //   // flex: 1;
  //   font-size: inherit;
  //   text-overflow: ellipsis;
  //   // white-space: nowrap;
    
  //   }

.ion-grid {
  background-color: transparent !important;
}

// .lista-secundaria {
  // ion-card-header {
  //   background-color: transparent !important;
  //   margin-bottom: 0px;
  //   min-height: 3rem;
  //   border-top: none;
  //   border-bottom: .55px solid #000;
  // }
  // .card-header-md {
  //   font-size: 1.2rem;
  //   font-weight: 500;
  //   letter-spacing: .1rem;
  //   text-transform: uppercase;
  //   color: #333;

  // }
  // button {
  //   height: auto;
  //   .label-md {
  //     font-size:1.15rem;
  //   }
  //   font-size: smaller;
  //   font-weight: bold;
  //   img {
  //     padding: auto;
  //     width: 65px;
  //   }
  //   p {
  //     text-align: right;
  //     font-size: xx-small;
  //     color: #8a8a82;
  //   }
  // }
// }

  //criando linha com efeito fade
  .linha{
    display:block;
    color: #eaf2eb;
    height:.55px;
    background:#043c21;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#043c21), to(#f9f9f9));
  }
  //--------------------------------------------------------------


.home {
  background: linear-gradient(to top right, #f9faf9, #ffffff);
}