
  <ion-content>
    <ion-slides pager="true" [options]="sliderOpts">
      <ion-slide>
        <img src="assets/imgs/a.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/banner_portal_gsm_1.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/banner_portal_dicipa_2.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/pdi.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/banner_andifes_0.png">
      </ion-slide>
      <ion-slide>
        <img src="assets/imgs/jogos-universitarios-unipampa-banner-portal.png">
      </ion-slide>
    </ion-slides>
    <div>
      <span class="linha"></span>
    </div>
  
    <!-- no-padding no-margin -->
    <ion-card no-padding no-margin  class="lista-secundaria">
      <ion-card-header><ion-title>
          Notícias Recentes
        </ion-title></ion-card-header>
      <ion-card-content>
        
        <ion-list>
          <ion-item  *ngFor="let noticia of retornos?.items"  href="{{noticia.link}}"><ion-label>{{noticia.title}}</ion-label></ion-item>
        </ion-list>
      </ion-card-content>
</ion-card>
</ion-content>