<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[31].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[32].value}}</p>
      <p>{{retornos?.content[33].value}}</p>
      <ion-title>{{retornos?.content[34].value}}</ion-title>
     <p>{{retornos?.content[35].value}}</p>
     <p><b>{{retornos?.content[36].value}}</b></p>
     <p><b>{{retornos?.content[37].value}}</b></p>
     <p>{{retornos?.content[38].value}}</p>




     <p><b>{{retornos?.content[43].value}}</b></p>
     <p>{{retornos?.content[44].value}}</p>

     <p><b>{{retornos?.content[45].value}}</b></p>
     <p><b>{{retornos?.content[46].value}}</b></p>
     <p>{{retornos?.content[47].value}}</p>
     <p><b>{{retornos?.content[48].value}}</b></p>
     <p>{{retornos?.content[49].value}}</p>
     <p>{{retornos?.content[51].value}}</p>
     <p>{{retornos?.content[52].value}}</p>
     <ion-item-divider></ion-item-divider>
     <ion-list>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/coordenadorias/coordenacao-de-iniciacao-cientifica/pibic-em/">
        <ion-label>{{retornos?.content[53].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/coordenadorias/coordenacao-de-iniciacao-cientifica/pibiti/">
        <ion-label>{{retornos?.content[54].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/coordenadorias/coordenacao-de-iniciacao-cientifica/probic/">
        <ion-label>{{retornos?.content[55].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/coordenadorias/coordenacao-de-iniciacao-cientifica/probiti/">
        <ion-label>{{retornos?.content[56].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/coordenadorias/coordenacao-de-iniciacao-cientifica/pbip/">
        <ion-label>{{retornos?.content[57].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/coordenadorias/coordenacao-de-iniciacao-cientifica/agp/">
        <ion-label>{{retornos?.content[58].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/propesq/ic-voluntaria/">
        <ion-label>{{retornos?.content[60].value}}</ion-label>
      </ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>