<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[61].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[62].value}}</p>
      <p>{{retornos?.content[63].value}}</p>
      <p>{{retornos?.content[64].value}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>