<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[0].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[1].value}}</p>
        <p>{{retornos?.content[2].value}}</p>
        <p>{{retornos?.content[3].value}}</p>
        <p>{{retornos?.content[4].value}}</p>
        <p>{{retornos?.content[5].value}}</p>
        
       
        <!-- <p *ngFor="let strings of (retornos?.content)">
            <ion-label>
              {{strings.value}}
            </ion-label>
          </p> -->
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item [routerDirection]="'forward'" [routerLink]="['/pda']">{{retornos?.content[6].value}}</ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/ensino']">{{retornos?.content[7].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/pesquisa']">{{retornos?.content[8].value}}</ion-item>
        <ion-item [routerDirection]="'forward'" [routerLink]="['/extensao-cultura']">{{retornos?.content[9].value}}</ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>