<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[22].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[23].value}}</p>
      <p>{{retornos?.content[24].value}}</p>
      <ion-list>
        <ion-item>
          <p>{{retornos?.content[25].value}}</p>
        </ion-item>
        <ion-item>
          <p>{{retornos?.content[26].value}}</p>
        </ion-item>
        <ion-item>
          <p>{{retornos?.content[27].value}}</p>
        </ion-item>
        <ion-item>
          <p>{{retornos?.content[28].value}}</p>
        </ion-item>
        </ion-list>
        <p>{{retornos?.content[29].value}}</p>
        <p>{{retornos?.content[30].value}}</p>

     <ion-item-divider></ion-item-divider>
     <ion-list>
      <ion-item  href="https://webservice.unipampa.edu.br/painel_servicos/">
        <ion-label>{{retornos?.content[31].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>