<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[1].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <p>{{retornos?.content[0].value}}</p>
    <p>{{retornos?.content[2].value}}</p>
    <p>{{retornos?.content[3].value}}</p>
<ul>
  <li>{{retornos?.content[5].value}}</li>
  <li>{{retornos?.content[6].value}}</li>
  <li>{{retornos?.content[7].value}}</li>
  <li>{{retornos?.content[8].value}}</li>
</ul>
<p>{{retornos?.content[9].value}}</p>
<ion-title>{{retornos?.content[10].value}}</ion-title>
<p>{{retornos?.content[11].value}}</p>
<ion-title>{{retornos?.content[12].value}}</ion-title>
<p>{{retornos?.content[13].value}}</p>
<ion-title>{{retornos?.content[14].value}}</ion-title>
<ul>
  <li>{{retornos?.content[15].value}}</li>
  <li>{{retornos?.content[16].value}}</li>
  <li>{{retornos?.content[17].value}}</li>
</ul>

<ion-title>{{retornos?.content[18].value}}</ion-title>
<p>{{retornos?.content[19].value}}</p>
<p>
  <a href="https://www.google.com/maps/d/viewer?hl=pt-BR&mid=1GQEyPBecgar7r-aom0500RI8y88"  >
  <img  src="assets/imgs/mapaaunipampa.png"/></a></p>
</ion-card-content>
</ion-card>
</ion-content>
