
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[4].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[5].value}}</p>
      <p>{{retornos?.content[6].value}}</p>
      <p>{{retornos?.content[7].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="https://guri.unipampa.edu.br/">
        <ion-label>{{retornos?.content[8].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://play.google.com/store/apps/details?id=br.edu.unipampa.guri&hl=pt_BR">
        <ion-label>{{retornos?.content[9].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>
