<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[32].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[36].value}}</p>
     
     <p><b>{{retornos?.content[34].value}}</b></p>
     <ion-list>
      <ion-item>
        <p>{{retornos?.content[35].value}}</p>
      </ion-item>
      <ion-item>
        <p>{{retornos?.content[36].value}}</p>
      </ion-item>
      </ion-list>
     <p>{{retornos?.content[37].value}}</p>
     <ion-item-divider></ion-item-divider>
     <ion-list>
      <ion-item  href="http://www.guiadoalunounipampa.com/pdf/Resolu%C3%A7%C3%A3o-29-2011-Normas-B%C3%A1sicas-de-Gradua%C3%A7%C3%A3o.pdf">
        <ion-label>{{retornos?.content[38].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>