<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Eventos</ion-title>
  </ion-toolbar>
  </ion-header>
   -->
  <ion-content>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Página reservada para Feed-RSS</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>