<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[15].value}}</ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[16].value}}</p>
      <p>{{retornos?.content[17].value}}</p>
      <p>{{retornos?.content[18].value}}</p>
      <ion-list  >
        <ion-item href="https://sites.unipampa.edu.br/pda/"><ion-label>{{retornos?.content[14].value}}</ion-label></ion-item>
      </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>
