
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[37].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[38].value}}</p>
      <p>{{retornos?.content[39].value}}</p>
     
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="https://voip.unipampa.edu.br/voip/Dashboard.php">
        <ion-label>{{retornos?.content[40].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>

