<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[77].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[78].value}}</p>
      <p>{{retornos?.content[79].value}}</p>
      <p>{{retornos?.content[80].value}}</p>
      <ion-list  >
        <ion-item  href="https://sites.unipampa.edu.br/praec/contato-nudes/">
          <ion-label>{{retornos?.content[81].value}}</ion-label></ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>