
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[24].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[25].value}}</p>
      <p>{{retornos?.content[26].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="http://www.guiadoalunounipampa.com/pdf/estatuto_unipampa_conselho_campus.pdf">
        <ion-label>{{retornos?.content[27].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>
