<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[28].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[29].value}}</p>
      <ul>
        <li><p><b>{{retornos?.content[30].value}}</b></p></li>
        <li><p><b>{{retornos?.content[31].value}}</b></p></li>
        <li><p><b>{{retornos?.content[32].value}}</b></p></li>
      </ul>
      <p>{{retornos?.content[33].value}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>