<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[0].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[1].value}}</p>
      <p>{{retornos?.content[2].value}}</p>
      <p>{{retornos?.content[3].value}}</p><br>
      <ion-item-divider></ion-item-divider>
      <div text-center><br>
      <ion-title color="primary">{{retornos?.content[4].value}}</ion-title><br>
      <ion-title>{{retornos?.content[5].value}}</ion-title>
      <p><b>{{retornos?.content[6].value}}</b></p>
      <p><i>{{retornos?.content[7].value}}</i></p>
      <p><b>{{retornos?.content[8].value}}</b></p>
      <p><i>{{retornos?.content[9].value}}</i></p><br>
      <ion-title color="primary">{{retornos?.content[10].value}}</ion-title>
      <p><i>{{retornos?.content[11].value}}</i></p>
      <p><b>{{retornos?.content[12].value}}</b></p>
      <p><b>{{retornos?.content[13].value}}</b></p>
      <p><i>{{retornos?.content[14].value}}</i></p>
      <p><i>{{retornos?.content[15].value}}</i></p>
      <p><i>{{retornos?.content[16].value}}</i></p>
      <p><i>{{retornos?.content[17].value}}</i></p>
      <p><i>{{retornos?.content[18].value}}</i></p>
      <p><b>{{retornos?.content[19].value}}</b></p>
      <p><i>{{retornos?.content[20].value}}</i></p>
      <p><b>{{retornos?.content[21].value}}</b></p>
      <p><i>{{retornos?.content[22].value}}</i></p>
      <p><i>{{retornos?.content[23].value}}</i></p>
      <p><b>{{retornos?.content[24].value}}</b></p>
      <p><i>{{retornos?.content[25].value}}</i></p>
      <p><b>{{retornos?.content[26].value}}</b></p>
      <p><i>{{retornos?.content[27].value}}</i></p>
      <p><b>{{retornos?.content[28].value}}</b></p>
      <p><i>{{retornos?.content[29].value}}</i></p>
      <p><small>{{retornos?.content[30].value}}</small></p>
      <p><small>{{retornos?.content[31].value}}</small></p>
      <p><i><small>{{retornos?.content[32].value}}</small></i></p>
      <p><small>{{retornos?.content[33].value}}</small></p>
      <p><b><small>{{retornos?.content[34].value}}</small></b></p>
      </div>
     
    </ion-card-content>
  </ion-card>
  
</ion-content>