<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[3].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[4].value}}</p>
      <p>{{retornos?.content[5].value}}</p>
      <p>{{retornos?.content[6].value}}</p>
      <ion-item-divider></ion-item-divider>
      <ion-list>
      <ion-item  href="https://sites.unipampa.edu.br/daeinter/">
        <ion-label>{{retornos?.content[7].value}}</ion-label>
      </ion-item>
    </ion-list>
        <ion-item-divider></ion-item-divider>
    </ion-card-content>
  </ion-card>
</ion-content>