<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[0].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p>{{retornos?.content[1].value}}</p>
      <p>{{retornos?.content[2].value}}</p>
      
     
      <!-- <p *ngFor="let strings of (retornos?.content)">
          <ion-label>
            {{strings.value}}
          </ion-label>
        </p> -->
        <ion-item-divider></ion-item-divider>
  <ion-list> 
    <ion-item [routerDirection]="'forward'" [routerLink]="['/editais-praec']"><ion-label>{{retornos?.content[71].value}}</ion-label></ion-item>
    <ion-item [routerDirection]="'forward'" [routerLink]="['/concorrer-beneficios']"><ion-label>{{retornos?.content[77].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/plano-permanencia']"><ion-label>{{retornos?.content[26].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/apoio-ingressante']"><ion-label>{{retornos?.content[72].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/apoio-social-pedagogico']"><ion-label>{{retornos?.content[73].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/acoes-afirmativas']"><ion-label>{{retornos?.content[74].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/apoio-participacao-discente']"><ion-label>{{retornos?.content[57].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/coracao-estudante']"><ion-label>{{retornos?.content[75].value}}</ion-label></ion-item>
      <ion-item [routerDirection]="'forward'" [routerLink]="['/cultura-esp-laz-inc']"><ion-label>{{retornos?.content[76].value}}</ion-label></ion-item>
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>