<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button ></ion-back-button>
      </ion-buttons>
      <ion-title>{{retornos?.content[0].value}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-content>
        <p>{{retornos?.content[1].value}}</p>
        <p>{{retornos?.content[3].value}}</p>
        <p>{{retornos?.content[4].value}}</p>
        <p>{{retornos?.content[5].value}}</p>
        
       
        <!-- <p *ngFor="let strings of (retornos?.content)">
            <ion-label>
              {{strings.value}}
            </ion-label>
          </p> -->
          <ion-item-divider></ion-item-divider>
    <ion-list> 
      <ion-item  href="http://www.guiadoalunounipampa.com/pdf/cartilha_lei_estagio.pdf">
        <ion-label>{{retornos?.content[6].value}}</ion-label>
      </ion-item>
      <ion-item  href="http://porteiras.s.unipampa.edu.br/estagios/convenios/">
        <ion-label>{{retornos?.content[7].value}}</ion-label>
      </ion-item>
      <ion-item  href="http://porteiras.s.unipampa.edu.br/estagios/documentos/">
        <ion-label>{{retornos?.content[8].value}}</ion-label>
      </ion-item>
      <ion-item  href="http://porteiras.s.unipampa.edu.br/estagios/legislacao/">
        <ion-label>{{retornos?.content[10].value}}</ion-label>
      </ion-item>
      <ion-item  href="http://www.guiadoalunounipampa.com/pdf/normas_estagios.pdf">
        <ion-label>{{retornos?.content[9].value}}</ion-label>
      </ion-item>
      <ion-item  href="https://sites.unipampa.edu.br/estagios/">
        <ion-label>{{retornos?.content[11].value}}</ion-label>
      </ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>