<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[4].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(0)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(0)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(0)"></ion-icon>
          {{retornos?.content[5].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(0)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[6].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[7].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[8].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>

        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(1)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(1)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(1)"></ion-icon>
          {{retornos?.content[9].value}}
        </ion-item> 
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(1)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[10].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[11].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>         
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+-+Campus+S%C3%A3o+Borja/@-28.6291888,-56.0407177,17z/data=!3m1!4b1!4m5!3m4!1s0x9455c8b2fc7aeead:0xc6a281d8d82a17c5!8m2!3d-28.6291888!4d-56.038529">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[12].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[13].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)32405429">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[14].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[15].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)34309870">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[16].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[17].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:acs@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[18].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[19].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(1)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(2)" detail-none class="item-lista" >
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(2)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(2)"></ion-icon>
          {{retornos?.content[20].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(2)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/UNIPAMPA+-+Campus+Santana+Do+Livramento/@-30.8889558,-55.5314254,17z/data=!3m1!4b1!4m5!3m4!1s0x95a9fe5122fc2ae7:0x56c93c19638f26a!8m2!3d-30.8889558!4d-55.5292367">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[21].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>      
          <ion-item href="tel:(53)3247-4549">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[22].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:daeinter@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[23].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/daeinter/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[24].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(2)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(3)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(3)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(3)"></ion-icon>
          {{retornos?.content[25].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(3)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[26].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>      
          <ion-item href="tel:(53)32405414">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[27].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:nudepe@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[28].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/nudepe/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[29].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(3)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>

        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(4)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(4)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(4)"></ion-icon>
          {{retornos?.content[30].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(4)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Universidade+Federal+do+Pampa+(UNIPAMPA)+-+Campus+Alegrete/@-29.7893791,-55.7709507,17z/data=!3m1!4b1!4m5!3m4!1s0x95aab9f0262a2b83:0xa8fb11173542b5bc!8m2!3d-29.7893791!4d-55.768762">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[31].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[32].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>             
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[33].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[34].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>      
          <ion-item href="tel:(53)34218410">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[35].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[36].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>    
          <ion-item href="tel:(53)32405439">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>{{retornos?.content[37].value}}</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[38].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:contato@dtic.unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[39].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://ntic.unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[40].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(4)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(5)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(5)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(5)"></ion-icon>
          {{retornos?.content[41].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(5)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[42].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>    
          <ion-item href="tel:(53)32405434">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[43].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>  
          <ion-item href="mailto:ouvidoria@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[44].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/ouvidoria">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[45].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(5)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(6)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(6)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(6)"></ion-icon>
          {{retornos?.content[46].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(6)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Universidade+Federal+do+Pampa+(UNIPAMPA)+-+Campus+Alegrete/@-29.7893791,-55.7709507,17z/data=!3m1!4b1!4m5!3m4!1s0x95aab9f0262a2b83:0xa8fb11173542b5bc!8m2!3d-29.7893791!4d-55.768762">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[47].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>    
          <ion-item href="tel:(53)34218417">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[48].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>  
          <ion-item href="mailto:pampatec@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[49].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.s.unipampa.edu.br/pampatec">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[50].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(6)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>