<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{retornos?.content[94].value}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(0)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(0)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(0)"></ion-icon>
          {{retornos?.content[95].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(0)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[96].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[97].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[98].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[99].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[100].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>

        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(1)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(1)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(1)"></ion-icon>
          {{retornos?.content[101].value}}
        </ion-item> 
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(1)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[102].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[103].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[104].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[105].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[106].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(2)" detail-none class="item-lista" >
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(2)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(2)"></ion-icon>
          {{retornos?.content[107].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(2)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[108].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[109].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[110].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[111].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[112].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(3)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(3)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(3)"></ion-icon>
          {{retornos?.content[113].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(3)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[114].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[115].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[116].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[117].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[118].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(4)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(4)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(4)"></ion-icon>
          {{retornos?.content[119].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(4)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[120].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[121].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[122].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[123].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[124].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(5)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(5)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(5)"></ion-icon>
          {{retornos?.content[125].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(5)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[126].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[127].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[128].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[129].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[130].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(6)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(6)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(6)"></ion-icon>
          {{retornos?.content[131].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(6)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[132].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[133].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[134].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[135].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[136].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(7)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(7)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(7)"></ion-icon>
          {{retornos?.content[137].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(7)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[138].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[139].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[140].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[141].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[142].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(8)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(8)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(8)"></ion-icon>
          {{retornos?.content[143].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(8)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[144].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[145].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[146].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[147].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[148].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>


        <!-- Primeiro Nivel -->
        <!-- Botao Toggle -->
        <ion-item (click)="setOpen(9)" detail-none class="item-lista">
          <ion-icon slot="end" name="arrow-dropright" *ngIf="!getOpen(9)"></ion-icon>
          <ion-icon slot="end" name="arrow-dropdown" *ngIf="getOpen(9)"></ion-icon>
          {{retornos?.content[158].value}}
        </ion-item>
        <!-- Segundo Nivel -->
        <ion-list *ngIf="getOpen(9)" lines="none" class="segundo-nivel">          
          <ion-item href="https://www.google.com.br/maps/place/Unipampa+Reitoria/@-31.3316006,-54.1091352,17z/data=!3m1!4b1!4m5!3m4!1s0x95067512c98bf33b:0x591929fac298c323!8m2!3d-31.3316006!4d-54.1069465">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Endereço</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[153].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="pin" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="tel:(53)3240-5400">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Telefone</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[154].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="call" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Direção)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[155].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="mailto:chefiadegabinete@unipampa.edu.br">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>E-mail(Secretaria Acadêmica)</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[156].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="mail" slot="end"></ion-icon>
          </ion-item>
          <ion-item href="http://porteiras.r.unipampa.edu.br/portais/acs/">
            <div item-start>
              <ion-label color="medium">
                <small>
                  <b>Site</b>
                </small>
              </ion-label>
              <ion-label text-wrap>
                <small>
                  {{retornos?.content[157].value}}
                </small>
              </ion-label>
            </div>
            <ion-icon name="globe" slot="end"></ion-icon>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-button expand="block"  (click)="setOpen(0)" >
            <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
          </ion-button>
        </ion-list>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>