<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Área de Edição</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <form>
    <ion-grid>
      <ion-row color="light" class="justify-content-center">
        <ion-col class="align-self-center">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Selecione a Categoria à ser alterada</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-padding">
                <!-- Campo CATEGORIA -->
                <ion-item>
                  <ion-label>Categoria:</ion-label>
                  <ion-select (ionChange)="receberValor($event)">
                    <ion-select-option *ngFor="let pagina of retornos" [value]="pagina">
                      {{pagina?.page}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <!-- Campo ID -->
                <ion-item>
                  <ion-input type="text" placeholder="ID"  required readonly value="{{doc_id}}" >
                  </ion-input>
                </ion-item>
                <!-- Campo CONTEUDO -->
                <ion-item>
                  <ion-textarea autoGrow rows="5" required clear-input ngModel #conteudoCtrl="ngModel" name="conteudo"
                    type="text" placeholder="Conteudo a ser editado:" [(ngModel)]="conteudo"></ion-textarea>
                </ion-item>
                
                <div class="ion-padding">
                  <ion-button size="large" type="submit"  expand="block"(click)="registrar()">Atualizar</ion-button>
                  <p></p>
                  <ion-button color="grey" size="large"   expand="block" (click)="limpaForm()">Cancelar</ion-button>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>